
<div class="landing"  >
    <div class="container" >
        <div class="row">
            <h1>William Sonoma</h1>
            <button type="button" class="btn btn-dark" (click)="getData()" >
                    click to see the all the product 
             </button>
            <div class="col-xs-12" *ngIf="pageState==='landing'" >  
                <div class="card" style="width: 18rem;" *ngFor="let product of products; let index = index">
                        <img class="card-img-top" src="{{product.hero.href}}" alt = "{{product.name}}">
                        <div class="card-body">
                            <h6 class="card-text"
                                (click)="getDetails(product.id, index)">
                                {{product.name}}</h6>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="pageState==='notLanding'" >
    <app-product-detail [productId]="details" [indexNum]="indexNumber"></app-product-detail>
</div>